.searchbar {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  background: rgb(140, 140, 152);
}

.search_panel {
  display: flex;

  margin-left: auto;
  margin-right: auto;
}

.search_field {
  position: relative;

  max-width: 250px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 8px;
  padding-left: 16px;

  font-size: 16px;

  outline: none;
  border: none;
  border-radius: 4px;
}

.searchBtn {
  margin-top: 20px;
  height: 42px;

  outline: none;
  border: none;

  cursor: pointer;
}

.searchBtn:hover,
.searchBtn:focus {
  outline: none;
  border: none;
  border-color: transparent;
}
